header {
  background: #707070;
  padding: 0 8.75rem;
  z-index: 999;
  position: relative;
  font-style: normal !important;
}

header .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(199, 11, 77) !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(240, 178, 199) !important;
}

a.dropdown-item.active {
  background-color: rgb(199, 11, 77) !important;
}

.carousel .carousel-indicators .active {
  color: rgb(199, 11, 77);
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../img/toggler-icon.svg);
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border: none;
}

header nav ul li a {
  text-transform: uppercase;
  color: #ffffff !important;
}

header {
  background: #707070;
  opacity: 0.85;
}

.header .navbar {
  padding: 0.5rem 0;
}

.header .nav-link {
  color: #ffffff !important;
}

header .dropdown-menu {
  background: rgb(255,255,255,0.25) !important;
  z-index: 3;
}

header .dropdown-menu a {
  background: rgb(255,255,255,0.25) !important;
  color: #ffffff !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

header .dropdown-toggle::after {
  display: none;
}

@media (max-width: 576px) {
  header {
    padding: 0 1.75rem;
  }

  header img {
    width: 50vw;
  }
}