 <!DOCTYPE html>
 <html>
     <head>
         <title>PCOS home</title>
         <meta name="viewport" content="width=divice-width, initial-scale=1.0">
         <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> 
     </head>
     <body>
        <div class="banner">
            <div class="navbar">
                <img src="{{url_for('static',filename='Log1.png')}}" width="200" height="60" class="logo">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/overview">PCOS</a></li>
                    <li><a href="/about">MACHINE LEARNING</a></li>
                </ul>
            </div>
             <div class="text-box">
                <p>I</p>
                <h1>BELIEVE</h1>
                <h3>A strong woman looks a challenge dead in the eye and gives it a wink</h3>
                <div class="row">
                    <a href="/search">Advance Examination</a>
                    <a href="/basic">Basic Examination <span>&#x27F6</span></a>
                    <span>Take Care of your body.<br>It's the only place you have to live.</span>
                </div>
            </div>   
         </div>
     </body>
 </html>