<!DOCTYPE html>
 <html>
     <head>
         <title>ML</title>
         <meta name="viewport" content="width=divice-width, initial-scale=1.0">
         <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}"> 
     </head>
     <body>
        <div class="banner">
            <div class="navbar">
                <img src="{{url_for('static',filename='Log1.png')}}" width="200" height="60" class="logo">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/overview">PCOS</a></li>
                    <li><a href="/about">MACHINE LEARNING</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="info">
                  <h2>MACHINE LEARNING</h2>
                  <br><br>
                  <img src="{{url_for('static',filename='ML.jpg')}}" width="600" height="300" class="logo1" style="margin-left: 350px;">
                  <p style="font-size: 2rem; margin:4rem 4rem 4rem 4rem ;color:#fff;"> Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.
                    In the past decade, machine learning has given us self-driving cars, practical speech recognition, effective web search, and a vastly improved understanding of the human genome.<br><br>So, What's the concept behind Machine Learning?<br><br>AI is a bigger concept to create intelligent machines that can simulate human thinking capability and behavior, whereas, machine learning is an application or subset of AI that allows machines to learn from data without being programmed explicitly.      
                </p>
                        <img src="{{url_for('static',filename='ai-removebg-preview.png')}}" width="760" height="500" class="logo1" style="margin-left: 200px;">
                    </div>
        </div>          
     </body>
 </html>